.post-item{
    margin-bottom: 3em;
    .date{
        opacity: 0.5;
        font-size: 0.9em;
    }
    .title{
        margin: 0;
        padding: 0;
        a{
            text-decoration: none;
        }
    }
    .content{
        margin-top: 1em;
    }
    &:after{
        content: "∗";
        color: #5755D9;
    }
}