{{ define "main" }}
<div class="container mb5 post-single">
    {{ if and (isset .Params "spotify") (gt (len .Params.spotify) 0) }}
        <div class="row image-wrapper">
            <div class="col-xs-12">
                <iframe src="{{.Params.spotify}}?theme=0" width="100%" height="232" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    {{ end }}
    <section class="content-wrapper">
        <div class="row center-xs">
            <div class="col-sm-8">
                <div class="back-wrapper"><a href="/podcast" title="Podcast">&larr; Tutti gli episodi</a></div>
                <h1 id="title" class="title text-center">{{ .Title }}</h1>
                {{ if .Date }}
                    <div class="date">
                        {{ .Date.Format "02/02/2006" }}
                    </div>
                {{ end }}
                <article id="content" class="post-content mt4">
                    {{ .Content }}

                    {{ if or (gt (len $.Site.Params.podcastitunesurl) 0)
                            (gt (len $.Site.Params.podcastspotifyurl) 0)
                            (gt (len $.Site.Params.podcastcastboxurl) 0)
                            (gt (len $.Site.Params.podcastspreakerurl) 0) }}
                        <div class="listen-on">
                            <ul>
                                {{ if isset $.Site.Params "podcastitunesurl" }}
                                    <li><a href="{{ $.Site.Params.podcastitunesurl }}" title="Ascolta su iTunes">Ascolta su iTunes</a></li>
                                {{ end }}
                                {{ if isset $.Site.Params "podcastspotifyurl" }}
                                    <li><a href="{{ $.Site.Params.podcastspotifyurl }}" title="Ascolta su Spotify">Ascolta su Spotify</a></li>
                                {{ end }}
                                {{ if isset $.Site.Params "podcastspreakerurl" }}
                                    <li><a href="{{ $.Site.Params.podcastspreakerurl }}" title="Ascolta su Spreaker">Ascolta su Spreaker</a></li>
                                {{ end }}
                                {{ if isset $.Site.Params "podcastcastboxurl" }}
                                    <li><a href="{{ $.Site.Params.podcastcastboxurl }}" title="Ascolta su Castbox">Ascolta su Castbox</a></li>
                                {{ end }}
                            </ul>
                        </div>
                    {{ end }}

                    <p class="mt4 mb4">
                        <h3 class="title mb0 pb0">Vuoi parlare di questa puntata?</h3>
                        <ul class="list-reset">
                            <li>Scrivi sul gruppo <a href="{{ $.Site.Params.telegram }}" title="Telegram">Telegram</a></li>
                        </ul>
                    </p>

                    <p class="podcast-credits"><small>Credits: <a href="https://incompetech.filmmusic.io/song/3337-aces-high" target="_blank">Aces High by Kevin MacLeod</a></small></p>
                </article>
                <div class="disqus mt4">
                    <div id="disqus_thread"></div>
                    <script>
                        /**
                        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                        /*
                        var disqus_config = function () {
                        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                        };
                        */
                        (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://alessandroalessio-net.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </div>
            </div>
        </div>
    </section>
</div>
{{ end }}
{{ define "extra-footer" }}
    {{ $style := resources.Get "sass/podcast/single.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link href="{{ $style.RelPermalink }}" rel="stylesheet">
{{ end }}