{{ define "main" }}
    <h1 class="hidden">Siti Web e Software Alessandria</h1>
    <div class="container mt5 mb5">
        <div class="row">
            <div class="col-xs">
                <h2 class="h1 title font-size4">Hey</h2>
                <p class="h3">Mi chiamo <strong>Alessandro Alessio</strong>, sono nato ad <b>Alessandria</b> e ci vivo. La mia occupazione principale è quella di <a href="https://www.a2area.it" title="Realizzazione siti web Alessandria"><strong>realizzare siti web</strong></a>. Nella vita sono un <u>Web Designer e un Full Stack Developer Freelance</u>. Il mio mondo è prettamente digitale quindi quando non lavoro mi piace <i>"smanacciare"</i> con software e hardware di vario genere. Dal 2008 tendo a raccontare alcune piccole parti della mia vita su questo <a href="/post" title="Blog Alessandro">blog</a> e di tanto in tanto sviluppo nuove passioni: sono un fantacalcista affermato (nel senso negativo del termine). Gamer sporadico ma FIFA Addicted. Da poco più di un anno mi diletto anche con un <a href="/podcast/" title="Podcast Alessandro">podcast</a> chiamato <i>I consigli di un Pirla</i> dove cerco di condividere i miei errori affinchè altri possano evitarli.</p>
            </div>
        </div>
        <div class="row mt3">
            <div class="col-sm-3">
                <h3 class="title">Siti</h3>
                <ul class="list-reset list-horbar">
                    <li><a href="https://www.a2area.it" target="_blank" title="Realizzazione siti web Alessandria">Portfolio</a></li>
                    <li><a href="https://alessandroalessio.dev" target="_blank" title="Slim Portfolio">Slim Portfolio</a></li>
                    <li><a href="http://www.alessandroalessio.eu" target="_blank" title="Resume">Resume / My CV</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h3 class="title">Progetti</h3>
                <ul class="list-reset list-horbar">
                    <li><a href="/post" title="Blog">Blog</a></li>
                    <li><a href="/podcast/" title="Podcast">Podcast</a></li>
                    <li><a href="https://www.fut-stats.it" target="_blank" title="FUT Stats">FUT Stats</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h3 class="title">Interessi</h3>
                <ul class="list-reset list-horbar">
                    <li><a href="/compravendita-fifa-20-21-ultimate-team-fut/" title="Compravendita FIFA FUT">Fifa FUT</a></li>
                    <li><a href="/quote/" title="Quote">Quote</a></li>
                    <li><a href="/viaggi/" title="Quote">Viaggi</a></li>
                    <li><a href="https://ucpapix.eu" target="_blank" title="Quote">Fantacalcio</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h3 class="title">Amici</h3>
                <ul class="list-reset list-horbar">
                    <li><a href="https://www.and.re.it" target="_blank" title="And.re">And.re</a></li>
                    <li><a href="https://www.manuelaraselli.it" target="_blank" title="La Manu">La Manu</a></li>
                    <li><a href="https://www.tomasoserloreti.it" target="_blank" title="Tom">Tom</a></li>
                </ul>
            </div>
        </div>
    </div>
{{ end }}