{{ define "main" }}
<div class="container mt5 mb5">
  <div class="row center-xs">
      <div class="col-md-8">
          <section class="content-wrapper">
            {{ .Content }}

            {{ range .Paginator.Pages }}
              {{ .Render "summary" }}
            {{ end }}
          </section>
          
          <section class="pagination">
            {{ template "_internal/pagination.html" . }}
          </section>
      </div>
  </div>
</div>
{{ end }}
{{ define "extra-footer" }}
  {{ $style := resources.Get "sass/post/list.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">
{{ end }}