{{ define "main" }}
<div class="container mb5 post-single">
    {{ if or (isset .Params "thumb") (isset .Params "featured_image") }}
        <div class="row image-wrapper">
            <div class="col-xs-12 thumb-single-article" 
                {{ if (isset .Params "thumb") }}
                    style="background-image: url({{.Params.thumb}})"
                {{ end }}
                {{ if (isset .Params "featured_image") }}
                    style="background-image: url({{.Params.featured_image}})"
                {{ end }}
                >
            </div>
            <div class="col-xs-12 dida-single-article">{{.Params.thumbdida}}</div>
        </div>
    {{ end }}
    <section class="content-wrapper">
        <div class="row center-xs">
            <div class="col-sm-8">
                <div class="back-wrapper"><a href="/post" title="Blog">&larr; Tutti gli articoli</a></div>
                <h1 id="title" class="title text-center">{{ .Title }}</h1>
                {{ if .Date }}
                    <div class="date">
                        {{ .Date.Format "02/02/2006" }}
                    </div>
                {{ end }}
                <article id="content" class="post-content mt4">
                {{ .Content }}
                </article>
                <div class="disqus mt4">
                    <div id="disqus_thread"></div>
                    <script>
                        /**
                        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                        /*
                        var disqus_config = function () {
                        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                        };
                        */
                        (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://alessandroalessio-net.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </div>
            </div>
        </div>
    </section>
</div>
{{ end }}
{{ define "extra-footer" }}
    {{ $style := resources.Get "sass/post/single.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link href="{{ $style.RelPermalink }}" rel="stylesheet">
{{ end }}